In [1]:
import sqlite3 as sq

In [2]:
conn=sq.connect('esm.db')

In [3]:
q="create table if not exists employee(eid int primary key,ename text,dept text,basic int,branch text)"

In [4]:
cur=conn.cursor()

In [5]:
cur.execute(q)

In [6]:
conn.commit()

In [7]:
insert="insert into employee values(?,?,?,?,?)"

In [8]:
l=[]
for i in range(5):
    eid=int(input("Enter employee id:"))
    ename=input("Enter employee name:")
    dept=input("Enter employee department:")
    basic=int(input("Enter employee basic:"))
    branch=input("Enter employee branch:")
    t=(eid,ename,dept,basic,branch)
    l.append(t)

Enter employee id:1
Enter employee name:henil
Enter employee department:IT
Enter employee basic:15000
Enter employee branch:surat
Enter employee id:2
Enter employee name:om
Enter employee department:Inventory
Enter employee basic:5000
Enter employee branch:bardoli
Enter employee id:3
Enter employee name:neel
Enter employee department:HR
Enter employee basic:8000
Enter employee branch:vyara
Enter employee id:4
Enter employee name:dhulii
Enter employee department:Account
Enter employee basic:5500
Enter employee branch:surat
Enter employee id:5
Enter employee name:krutik
Enter employee department:IT
Enter employee basic:7000
Enter employee branch:valod

In [21]:
cur.executemany(insert,l)

In [22]:
update="update employee set basic=basic+(basic*10/100) where branch='surat'"

In [23]:
cur.execute(update)

In [24]:
conn.commit()

In [25]:
slect="select * from  employee"

In [26]:
cur.execute(slect)

In [27]:
r=cur.fetchall()

In [28]:
print(r)

[(1, 'henil', 'IT', 16500, 'surat'), (2, 'om', 'Inventory', 5000, 'bardoli'), (3, 'neel', 'HR', 8000, 'vyara'), (4, 'dhulii', 'Account', 6050, 'surat'), (5, 'krutik', 'IT', 7000, 'valod')]

In [45]:
q="select * from employee where dept in ('HR','IT')"

In [46]:
cur.execute(q)

In [48]:
r1=cur.fetchall()

In [49]:
print(r1)

[(1, 'henil', 'IT', 16500, 'surat'), (3, 'neel', 'HR', 8000, 'vyara'), (5, 'krutik', 'IT', 7000, 'valod')]

In [50]:
q="select * from employee order by dept"

In [51]:
cur.execute(q)

In [52]:
r2=cur.fetchall()

In [53]:
print(r2)

[(4, 'dhulii', 'Account', 6050, 'surat'), (3, 'neel', 'HR', 8000, 'vyara'), (1, 'henil', 'IT', 16500, 'surat'), (5, 'krutik', 'IT', 7000, 'valod'), (2, 'om', 'Inventory', 5000, 'bardoli')]

In [54]:
conn.commit()

In [55]:
q="select * from employee where basic>6000"

In [56]:
cur.execute(q)

In [57]:
r3=cur.fetchall()

In [58]:
print(r3)

[(1, 'henil', 'IT', 16500, 'surat'), (3, 'neel', 'HR', 8000, 'vyara'), (4, 'dhulii', 'Account', 6050, 'surat'), (5, 'krutik', 'IT', 7000, 'valod')]

In [63]:
q="select * from employee where ename like '_r%'"

In [64]:
cur.execute(q)

In [65]:
r4=cur.fetchall()

In [66]:
print(r4)

[(5, 'krutik', 'IT', 7000, 'valod')]

In [67]:
conn.commit()

In [80]:
q="select dept,count(*) as count  from Employee where dept in ('Account','Inventory')"

In [81]:
cur.execute(q)

In [82]:
r5=cur.fetchall()

In [83]:
print(r5)

[('Inventory', 2)]

In [84]:
q="select * from Employee order by branch desc"

In [85]:
cur.execute(q)

In [86]:
r6=cur.fetchall()

In [87]:
print(r6)

[(3, 'neel', 'HR', 8000, 'vyara'), (5, 'krutik', 'IT', 7000, 'valod'), (1, 'henil', 'IT', 16500, 'surat'), (4, 'dhulii', 'Account', 6050, 'surat'), (2, 'om', 'Inventory', 5000, 'bardoli')]

In [88]:
conn.commit()